html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    background-color: #1A1A1A;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    main {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100dvh;
        height: 100dvw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.wrapper {
    min-width: 75%;
}

.message{
    display: none;
    text-align: center;
    color: white
}

@media screen and (max-width: 319px){
    #stylophone{
        display: none;
    }

    .message{
        display: block;
    }
}

.stylus div:first-child{
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    display: grid;
    place-items: center;
    place-content: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.heart{
    color: red;    
}

.stylus a, .stylus a:visited, .stylus a:active{
    color: #ffffff;
    text-decoration: none;
}

.github {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #424242;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github svg{    
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    left: 23px;
    top: 3px;
    fill: white;
}


.tuning {
    display: flex;
    gap: 2px;
    flex-direction: column;
    font-size: 6px
}

.tuning .dots, .tuning .numbers {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.tuning .dots span:first-child{
    justify-self: flex-start;
}

.tuning .dots span:last-child{
    justify-self: flex-end;
}

.toggle {
    position: relative;
    border: 1px solid #424242;
    display: flex;
    justify-content: center;
}

.toggle .handle{
    position: absolute;
    top: 0;
    width: 33%;
    height: 15px;
    background: #424242;
}

.toggle input {
    height: 15px;
    margin: 0;
    flex: 1;
    cursor: pointer;
    opacity: 0;
}

.toggle input[value="0.5"]:checked ~ .handle{
    left:0;
}
  
.toggle input[value="1"]:checked ~ .handle{
    left: 33%;
}

.toggle input[value="2"]:checked ~ .handle{
    left: 66%;
}

.tuning .dots span{
   background-color: #ffffff;
   border-radius: 100%;
   width: 4px;
   height: 4px;
}

.key, .switch{    
    cursor: pointer;
}

.cls-1, .cls-2 {
    fill: #ffffff;
}

.cls-3 {
    stroke-width: 2.5px;
}

.cls-3, .cls-4 {
    fill: none;
    stroke: #e6e6e6;
}

.cls-5 {
    fill: #e6e6e6;
}

.cls-5, .cls-6, .cls-7, .cls-2, .cls-8, .cls-9 {
    stroke: #000;
}

.cls-10 {
    stroke: #1a1a1a;
}

.cls-10, .cls-7 {
    stroke-width: 1.02px;
}

.cls-10, .cls-8 {
    fill: #1a1a1a;
}

.cls-8{
    fill: #424242
}

.cls-4 {
    stroke-width: 1.5px;
}