html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100dvh;
    width: 100dvw;
    background-color: #000000;
}

.grid{
    position: relative;
    width: calc(100% - 20px);
    height: 65dvh;
    margin: 10px;
    background-color: #1A1A1A;
}

.grid:before{
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 62.5dvh;
    margin: 10px;
    background-color: #000000;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(img/tactylophone/grid.svg);
}

.logo{
    background-color: #000000;   
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 10;
    width: 40dvw;
    padding: 10px;
}

.logo-text{
    fill: #ffffff
}

.controls{
    width: 100%;
    margin: 0 10px;
    height: 5dvh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr); 
    color: #ffffff;
}

.keyboard{
    height: 30dvh;
    width: calc(100% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.key, .switch{    
    cursor: pointer;
}

.cls-1, .cls-2 {
    fill: #ffffff;
}

.cls-3 {
    stroke-width: 2.5px;
}

.cls-3, .cls-4 {
    fill: none;
    stroke: #e6e6e6;
}

.cls-5 {
    fill: #e6e6e6;
}

.cls-5, .cls-6, .cls-7, .cls-2, .cls-8 {
    stroke: #000;
}

.cls-9 {
    stroke: url(#Degradado_sin_nombre_2);
}

.cls-10 {
    stroke: #1a1a1a;
}

.cls-10, .cls-7 {
    stroke-width: 1.02px;
}

.cls-10, .cls-8 {
    fill: #1a1a1a;
}

.cls-4 {
    stroke-width: 1.5px;
}